<a routerLink="/">Home</a>
<a routerLink="/clients">Create Client</a>
<a routerLink="/contact">Create Contact</a>
<a routerLink="/contacts">View contacts</a>
<p>client-create-component works!</p>

<section class="create-client">
    <h2 class="section-heading">Create Client</h2>
  
    <form [formGroup]="postCreateClientForm" (submit)="createClient()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="firstName" formControlName="firstName">
      <br>

      <button type="submit" [disabled]="!postCreateClientForm.valid">Create Client</button>
    </form>
  </section>