<a routerLink="/">Home</a>
<a routerLink="/clients">Create Client</a>
<a routerLink="/contact">Create Contact</a>
<a routerLink="/contacts">View contacts</a>

<p>clients-component works!</p>
<!-- <div @if="clients.length > 0">
    <table>
      <tr>
        <th style="text-align: left;">Name</th>
        <th style="text-align: left;">Client Code</th>
        <th style="text-align: center;">No. of Linked Contacts</th>
      </tr>
      <tr *ngFor="let client of clients">
        <td>{{ client.name }}</td>
        <td>{{ client.clientCode }}</td>
        <td style="text-align: center;">{{ client.linkedContacts | number }}</td>
      </tr>
    </table>
  </div>
  <ng-template #noClients>
    <p>No client(s) found.</p>
  </ng-template> -->