  <!--  -->
  <div *ngIf="clients && clients.length > 0; else noClients">
    <table mat-table [dataSource]="clients" class="mat-elevation-z8">
      
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let client"> {{ client.firstName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="clientCode">
        <th mat-header-cell *matHeaderCellDef> Client Code </th>
        <td mat-cell *matCellDef="let client"> {{ client.clientCode }} </td>
      </ng-container>
  
      <ng-container matColumnDef="linkedContacts">
        <th mat-header-cell *matHeaderCellDef> No. of Linked Contacts </th>
        <td mat-cell *matCellDef="let client"> {{ client.linkedContacts }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['firstName', 'clientCode', 'linkedContacts']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['firstName', 'clientCode', 'linkedContacts'];"></tr>
    </table>
  </div>

  <ng-template #noClients>
    <p>No clients found.</p>
  </ng-template>
