<div class="navbar">
    <mat-toolbar color="primary" class="toolbar">
      <span>Client-Contact Management</span>
      <span class="example-spacer"></span>
  
      <!-- Container for centering the links -->
      <div class="center-links">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/clients">Create Client</a>
        <a mat-button routerLink="/contact">Create Contact</a>
        <a mat-button routerLink="/contacts">View Contacts</a>
      </div>
  
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
  
  