<section class="create-contact mat-elevation-z2">
  <h2 class="section-heading mat-h2">Create Contact</h2>

  <form [formGroup]="postContactForm" (ngSubmit)="postContact()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" required placeholder="Name">
      <mat-error *ngIf="postContactForm.controls['name']?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Surname</mat-label>
      <input matInput type="text" name="surname" formControlName="surname" required placeholder="Surname">
      <mat-error *ngIf="postContactForm.controls['surname']?.hasError('required')">
        Surname is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" name="email" formControlName="email" required placeholder="Email Address">
      <mat-error *ngIf="postContactForm.controls['email']?.hasError('email')">
        Enter a valid email address
      </mat-error>
    </mat-form-field>

    <div formArrayName="clients">
      <ng-container *ngFor="let client of clients.controls; let i = index" [formGroupName]="i">
        <mat-divider></mat-divider>

        <div class="client-row">
          <mat-form-field appearance="fill" class="client-input">
            <mat-label>Client Name</mat-label>
            <input matInput type="text" name="clientName" formControlName="clientName" placeholder="Client Name" required>
            <mat-error *ngIf="client.get('clientName')?.hasError('required')">
              Client name is required
            </mat-error>
          </mat-form-field>

          <button mat-icon-button color="warn" type="button" (click)="removeClient(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div #clientsEnd></div>

    <button mat-raised-button color="primary" type="button" (click)="addClient()">
      + Add a Client
    </button>

    <br>
    <button mat-raised-button color="accent" type="submit" [disabled]="!postContactForm.valid">
      Create Contact
    </button>
  </form>
</section>

<section class="content">
  <router-outlet></router-outlet>
</section>
